* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background {
    background-image: url("/Static/Images/vinyle_banner1.jpg");
    background-size: 100vw 20vh;
    background-repeat: no-repeat;
    text-align: center;
}

.logo {
    margin-top: 0;
    height: 10%;
    width: 10%;
}
.home-button {
    display : block;
    position: absolute;
    color : #000000;
    background-color: #ffffff;
    width: 4%;
    height: 35px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 8px;
}

#searchBar {
    border-radius: 19px;
    position: relative;
    width: 14vw;
    font-size: 13px;
    padding: 12px 15px 12px 15px;
    border: 1px solid #ddd;
    margin-top: 10px;
    margin-left: 8px;
    margin-bottom: 10px;
}

#search-button {
    position: absolute;
    background: url("/Static/Images/Search_icon.png"), transparent;
    background-size: cover;
    z-index: 100000;
    top: 20px;
    left: 180px;
    height: 3vh;
    border: none;
    aspect-ratio: 1/1;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
#groups {
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    aspect-ratio: 1/1;
    width: auto;
    overflow: auto;
}

#groups li {
    display: none;
}

#groups li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

#groups li a:hover:not(.header) {
    background-color: #eee;
}

#FiltersForm {
    position: absolute;
    width: 20vw;
    height: 100vh;
    z-index: 100;
}

select {
    margin-top: 5px;
    width: 10vw;
}
#filter-button {
    display : block;
    position: absolute;
    color : #000000;
    background-color: #cac6d0;
    font-size: 13px;
    width: 4vw;
    height: 3vh;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 5px;
}
.career-filter, .album-filter, .member-filter, .concert-location {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.images {
    position: absolute;
    display: table-row-group;
    text-align: center;
    top: 23vh;
    left: 18vw;
}

.grpImage {
    border: solid black 0.2vw;
    border-radius: 1vw;
    border-spacing: 1vw;
}

#Form {
    position: absolute;
    width: 17vw;
    height: 1000vh;
    background-color: #D9D9D9;
}

#FiltersForm {
    width: inherit;
    margin-left: -0.5vw;
    text-align: center;
}

@media screen and (max-width: 800px){
    #Form {
        width: 100vw;
    }
}