* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans serif;
}

.background {
    background-image: url("/Static/Images/vinyle_banner1.jpg");
    background-size: 100vw 30vh;
    background-repeat: no-repeat;
    text-align: center;
}

.logo {
    margin-top: 0;
    height: 17vh;
    width: 10vw;
}
.home-button {
    display : block;
    position: absolute;
    color : #000000;
    background-color: #ffffff;
    font-size: 13px;
    width: 4vw;
    height: 4.7vh;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 8px;
}

#searchBar {
    border-radius: 2vw;
    position: relative;
    aspect-ratio: 4/1;
    width: 17vw;
    font-size: 1.3vw;
    padding: 12px 15px 12px 15px;
    margin-top: 10px;
    margin-left: 8px;
    margin-bottom: 10px;
    border: solid black 0.2vw;
}

#search-button {
    position: absolute;
    background: url("/Static/Images/Search_icon.png"), transparent;
    background-size: cover;
    z-index: 100000;
    top: 3.5vh;
    left: 15.3vw;
    height: 3vh;
    border: none;
    aspect-ratio: 1/1;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
#groups {
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    aspect-ratio: 1/1;
    width: auto;
    overflow: auto;
}

#groups li {
    display: none;
}

#groups li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

#groups li a:hover:not(.header) {
    background-color: #eee;
}

#FiltersForm {
    position: sticky;
    z-index: 100;
    width: inherit;
    font-size: 1.1vw;
    font-family: Arial, sans-serif;
    margin-left: -0.5vw;
    text-align: center;
}

input[type='range'] {
    overflow: hidden;
    width: 8vw;
    -webkit-appearance: none;
    background-color: #ffffff;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #808080;
    margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 2vh;
    cursor: w-resize;
    background: black;
    box-shadow: -80px 0 0 80px darkgray;
}
select {
    margin-top: 5px;
    width: 10vw;
}
#filter-button {
    display : block;
    position: absolute;
    color : #000000;
    background-color:dimgrey;
    font-size: 15px;
    width: 4vw;
    height: 3vh;
    margin-top: 1vh;
    margin-left: 6.5vw;
    border-radius: 5px;
}
.career-filter, .album-filter, .member-filter, .concert-location {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.images {
    position: absolute;
    display: table-row-group;
    text-align: center;
    top: 17.6vh;
    left: 18vw;
    overflow: scroll;
    bottom: -17.6vh;
}

.grpImage {
    border: solid black 0.1vw;
    border-radius: 1vw;
    width: 18vw;
    aspect-ratio: 1/1;
    border-spacing: 1vw;
    box-shadow: 5px 5px 5px grey;
    margin: 2vh 2vw;
    margin: 2vh 2vw;
    &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }
}

#Form {
    position: sticky;
    top: 0;
    width: 19vw;
    height: 100vh;
    background-color: #D9D9D9;
}

.category {
    font-size: 1.8vw;
    font-weight: bold;
    font-family: Arial, "sans-serif";
}

#selector {
    width: 13vw;
    border-radius: 1vw;
    aspect-ratio: 6/1;
    font-size: 1.3vw;
    text-align: center;
}

#filter-button {
    width: 4vw;
    height: 4vh;
    left: 1vw;
    border-radius: 0.5vw;
    border: solid black 0.15vw;
    font-size: 1.4vw;
    aspect-ratio: 2/1;
    &:hover {
        background-color: darkgrey;
        transition-duration: 200ms;
    }
}

@media screen and (max-width: 820px){
    .background {
        height: 17vh;
    }
    .home-button {
        width: 6vw;
        height: 2.5vh;
    }
    #Form {
        width: 25vw;
    }
    #searchBar {
        width: 23vw;
        height: 3vh
    }
    #search-button {
        width: 0;
        aspect-ratio: 1/1;
    }
    select {
        width: 15vw;
    }
    #filter-button {
        width: 6vw;
        height: 2.7vh;
        margin-left: 9vw;
        margin-top: 0.5vh;
    }
    #MembersNumber {
        width: 12vw;
        height: 0.8vh;

    }
    .images {
        top: 17.4vh;
        margin-left: 7vw;
    }
}

@media screen and (max-width: 430px) {
    .background {
        height: 10vh;
    }
    .logo {
        width: 10vw;
        height: 10vh;
    }
    .home-button {
        width: 10vw
    }
    #searchBar {
        width: 26vw;
        font-size: 8px;
    }
    #search-button {
        width: 0;
        aspect-ratio: 1/1;
    }
    .images {
        top: 11vh;
        margin-left: 10vw;
    }
    #Form {
        width: 30vw;
    }

    select {
        width: 25vw;
        font-size: 11px;
    }
    #filter-button {
        width: 10vw;
    }
}

@media screen and (max-width: 1300px){
    #search-button {
        width: 0;
        aspect-ratio: 1/1;
    }
}
