<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" lang="en">
    <title>Groupify</title>
    <link rel="stylesheet" href="/Static/CSS/discoverpage.css">

    <script>
        document.getElementById("MembersNumber").value = {{.FormData.MemberNumber}}

            function Range() {
                const slider = document.getElementById("MembersNumber");
                const val = slider.value;
                if (val>0) {
                    document.getElementById("LabelMembers").innerHTML = val
                } else {
                    document.getElementById("LabelMembers").innerHTML = "All"
                }

            }

        function myFunction() {
            const input = document.getElementById("searchBar");
            const filter = input.value.toUpperCase();
            const ul = document.getElementById("groups");
            const li = ul.getElementsByTagName("li");

            for (i = 0; i < li.length; i++) {
                const txtValue = li[i].textContent || li[i].innerText;
                li[i].style.display = input.value.length && txtValue.toUpperCase().indexOf(filter) > -1 ? "block" : "none";
            }
        }
    </script>
</head>

<body>
<div class="background">
    <a href="/"><button class="home-button">Home</button></a>
    <img src="/Static/Images/Groupify_blanc.png" class="logo" alt="White record player">
</div>

    <form id="FiltersForm" method="post">
        <input type="text" onkeyup="myFunction()"
               placeholder="Discover..."
               value="{{.FormData.SearchbarContent}}"
               name="Searchbar"
               autocomplete="off"
               id="searchBar">
        <ul id="groups">
            {{range .Artists}}
                <li><a href="/Infos?Id={{.Id}}">{{.Name}} - Group</a></li>
                {{$id := .Id}}
                {{range .Members}}
                    <li><a href="/Infos?Id={{$id}}">{{.}} - Member</a></li>
                {{end}}
            {{end}}
        </ul>

            <div class="career-filter">
                <h3>CAREER</h3>
                {{range $index, $item := .FormData.CareerYears}}
                    {{if eq $item ""}}
                        <label>
                            <input type="checkbox" value="1" name="career:{{GetCareerOrAlbumYears $index}}">
                            {{GetCareerOrAlbumYears $index}}
                        </label>
                    {{else}}
                        <label>
                            <input type="checkbox" value="1" name="career:{{GetCareerOrAlbumYears $index}}" checked>
                            {{GetCareerOrAlbumYears $index}}
                        </label>
                    {{end}}
                    <br>
                {{end}}

            </div>
            <div class="album-filter">
                <h3>ALBUM</h3>
                {{range $index, $item := .FormData.AlbumYears}}
                    {{if eq $item ""}}
                        <label>
                            <input type="checkbox" value="1" name="album:{{GetCareerOrAlbumYears $index}}">
                            {{GetCareerOrAlbumYears $index}}
                        </label>
                    {{else}}
                        <label>
                            <input type="checkbox" value="1" name="album:{{GetCareerOrAlbumYears $index}}" checked>
                            {{GetCareerOrAlbumYears $index}}
                        </label>
                    {{end}}
                    <br>
                {{end}}
            </div>
            <div class="member-filter">
                <h3>MEMBERS</h3>
                <input type="range" min="0" max="6" value="{{.FormData.MemberNumber}}" step="1" name="MembersNumber" id="MembersNumber" oninput="Range()">
                <label for="MembersNumber" id="LabelMembers">
                    {{if eq .FormData.MemberNumber "0"}}
                        All
                    {{else}}
                        {{.FormData.MemberNumber}}
                    {{end}}
                </label>
            </div>

            <div class="concert-location">
                <label>
                    <h3>COUNTRY</h3>
                    <select name="country">
                    <option>Select a Country</option>
                    <option>France</option>
                    <option>Yes</option>
                    <option>No</option>
                    </select>
                </label>
            </div>

            <div class="filter-button">
                <button type="submit">Filter</button>
            </div>

        </form>
    <div class="images">
        {{range .Artists}}
            <a href="/Infos?Id={{.Id}}"><img src="{{.Image}}" alt="{{.Name}}.png"/></a>
        {{end}}
    </div>
</body>
</html>