<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" lang="en">
    <title>Groupify</title>
    <link rel="stylesheet" href="/Static/CSS/discoverpage.css">
</head>
<body class="background">
        <form action="/">
            <button type="submit" class="home-button">Home</button>
        </form>
    <img src="/Static/Images/Groupify_blanc.png"
         class="logo" alt="White record player">

    <form id="form">
        <label for="search">
            <input type="search" class="search-input" id="search" name="search" placeholder="Discover...">
        </label>
        <button class="search-button">Search</button>
    </form>

</body>
</html>