<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" lang="en">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="../../Groupie-Tracker/Frontend/Static/CSS/discoverpage.css">
</head>
<body>
<button class="home-button" onclick="window.location='homepage.html'">Home</button>

<img src="../../Groupie-Tracker/Frontend/Static/Images/blanc%20sans%20fond.png" height="500" width="500" alt="White record player with website title and slogan">

<img src="../../Groupie-Tracker/Frontend/Static/Images/banner.png" height="630" width="1857" alt="Black and white record player banner">


<label for="search">Search for artists/band name, members, concert locations and more...</label>
    <input type="search" id="search" name="search">
<button class="search-button">Search</button>
</body>
</html>
