<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Groupify</title>
</head>

<body>
    <form method="post">
        <input type="radio" name="MembersNumber" value="1">1
        <input type="radio" name="MembersNumber" value="2">2
        <input type="radio" name="MembersNumber" value="3">3
        <input type="radio" name="MembersNumber" value="4">4
        <input type="radio" name="MembersNumber" value="5">5
        <input type="radio" name="MembersNumber" value="6">6
        <input type="radio" name="MembersNumber" value="7">7
        <br>
        <button type="submit">Filter</button>
        <input type="reset" value="Reset">
    </form>
{{.}}
</body>

</html>