<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Groupify</title>
    <script>
        document.getElementById("MembersNumber").value = {{.FormData.MemberNumber}}

        function Range() {
            const slider = document.getElementById("MembersNumber");
            const val = slider.value;
            if (val>0) {
                document.getElementById("LabelMembers").innerHTML = val
            } else {
                document.getElementById("LabelMembers").innerHTML = "All"
            }

        }

        function myFunction() {
            const input = document.getElementById("searchBar");
            const filter = input.value.toUpperCase();
            const ul = document.getElementById("groups");
            const li = ul.getElementsByTagName("li");

            for (i = 0; i < li.length; i++) {
                const txtValue = li[i].textContent || li[i].innerText;
                li[i].style.display = input.value.length && txtValue.toUpperCase().indexOf(filter) > -1 ? "block" : "none";
            }
        }
    </script>
    <style>
        * {
            box-sizing: border-box;
        }

        #searchBar {
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #groups {
            position: absolute;
            list-style-type: none;
            padding: 0;
            margin: 0;
            aspect-ratio: 1/1;
            width: auto;
            overflow: auto;
        }

        #groups li {
            display: none;
        }

        #groups li a {
            border: 1px solid #ddd;
            margin-top: -1px;
            /* Prevent double borders */
            background-color: #f6f6f6;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            color: black;
            display: block;
        }

        #groups li a:hover:not(.header) {
            background-color: #eee;
        }

        #FiltersForm {
            position: absolute;
            width: 20vw;
            height: 100vh;
            z-index: 100;
        }

        #gr {
            position: absolute;
            left: 20vw;
        }

        #btn_search {
            position: absolute;
            background-image: url("/Static/Images/Groupify_noir.png");
            background-size: cover;
            z-index: 100000;
            top: 10px;
            left: 17vw;
            height: 2vw;
            border: none;
            aspect-ratio: 1/1;
        }

    </style>
</head>

<body>
    <form method="post" id="FiltersForm">

        <div>
            <input type="text" onkeyup="myFunction()"
                   placeholder="Group or artist name"
                   value="{{.FormData.SearchbarContent}}"
                   name="Searchbar"
                   autocomplete="off"
                   id="searchBar">
            <ul id="groups">
                {{range .AllArtists}}
                    <li><a href="/Infos?Id={{.Id}}">{{.Name}} - Group</a></li>
                    {{$id := .Id}}
                    {{range .Members}}
                        <li><a href="/Infos?Id={{$id}}">{{.}} - Member</a></li>
                    {{end}}
                {{end}}
            </ul>
            <button type="submit" id="btn_search"></button>
            <br>

        </div>


        <div>
            <h3>CAREER</h3>
            {{range $index, $item := .FormData.CareerYears}}
                {{if eq $item ""}}
                    <label>
                        <input type="checkbox" value="1" name="career:{{GetCareerOrAlbumYears $index}}">
                        {{GetCareerOrAlbumYears $index}}
                    </label>
                {{else}}
                    <label>
                        <input type="checkbox" value="1" name="career:{{GetCareerOrAlbumYears $index}}" checked>
                        {{GetCareerOrAlbumYears $index}}
                    </label>
                {{end}}
                <br>
            {{end}}
        </div>

        <div>
            <h3>ALBUM</h3>
            {{range $index, $item := .FormData.AlbumYears}}
                {{if eq $item ""}}
                    <label>
                        <input type="checkbox" value="1" name="album:{{GetCareerOrAlbumYears $index}}">
                        {{GetCareerOrAlbumYears $index}}
                    </label>
                {{else}}
                    <label>
                        <input type="checkbox" value="1" name="album:{{GetCareerOrAlbumYears $index}}" checked>
                        {{GetCareerOrAlbumYears $index}}
                    </label>
                {{end}}
                <br>
            {{end}}
        </div>

        <div>
            <h3>MEMBERS</h3>
            <input type="range" min="0" max="6" value="{{.FormData.MemberNumber}}" step="1" name="MembersNumber" id="MembersNumber" oninput="Range()">
            <label for="MembersNumber" id="LabelMembers">
                {{if eq .FormData.MemberNumber "0"}}
                    All
                {{else}}
                    {{.FormData.MemberNumber}}
                {{end}}
            </label>
        </div>

        <label>
            <h3>Country</h3>
            <select name="country">
                <option value="">Select a Location</option>
                {{range .AllArtists}}
                    {{range .AllLocations.GroupLocations}}
                        {{$cityCountry := CityWithCountry .}}
                            {{if eq . $.FormData.Country}}
                                <option value="{{.}}" selected>{{index $cityCountry 0}}</option>
                            {{else}}
                                <option value="{{.}}">{{index $cityCountry 0}}</option>
                            {{end}}
                    {{end}}
                {{end}}
            </select>
        </label>
        <br>
        <br>
        <div>
            <button type="submit">Filter</button>
        </div>

    </form>

    <div id="gr">
    {{range .FilteredArtists}}
        <a href="/Infos?Id={{.Id}}"><img src="{{.Image}}" alt="{{.Name}}.png"/></a>
    {{end}}
    </div>

</body>

</html>