<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Groupify</title>
</head>

<body>
    <form method="post" action="/Filter">
        <input type="radio" name="MembersNumber" content="1">1
        <input type="radio" name="MembersNumber" content="2">2
        <input type="radio" name="MembersNumber" content="3">3
        <input type="radio" name="MembersNumber" content="4">4
        <input type="radio" name="MembersNumber" content="5">5
        <input type="radio" name="MembersNumber" content="6">6
        <input type="radio" name="MembersNumber" content="7">7
        <br>
        <button type="submit">Filter</button>
    </form>
{{.}}
</body>

</html>