<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Static/CSS/infos.css">
    <title>Who's that band ?</title>
</head>
<body class="background">
<form action="/">
    <button type="submit" class="homeButton">Home</button>
</form>
    <div class="banner">
        <img class="logo" src="../Static/Images/Groupify_blanc.png" alt="Logo blanc">
        <br><br><br>
    </div>
    <div class="content">

                <img class="albumCover" src="{{.Image}}" alt="Image album">
                <div class="description">
                    <h1>{{.Name}}</h1>
                    <p class="bold"> Members : </p>
                    <p>{{range .Members}}
                        {{.}}<br>
                    {{end}}</p>
                    <p>Creation date : {{.CreationDate}}</p>
                    <p>First album : {{.FirstAlbum}}</p>

                    <h1>Concerts</h1>
                    <p>{{range .AllLocations.GroupLocations}}
                            {{.}}
                            {{range .AllDates.GroupLocations}}
                                {{.}}<br>
                            {{end}}
                    {{end}}}</p>
                </div>
    </div>
</body>
<footer>
    <p>By : Loïc Delprat, Elisabeth Robl and Melisa Mckenzie</p>
</footer>
</html>
